.Forecast {
  padding: 10px 0 0;
}

.Forecast .unitExpressed {
  font-size: 10px;
  position: relative;
  top: -4px;
  line-height: 1;
}

.Forecast .dayDescription {
  font-size: 12px;
}

@media (width<800px) {
  .Forecast .dayDescription {
    font-size: 10px;
  }
}
