.WeatherInfo .descritionTemperatureToday {
  text-align: left;
  display: flex;
  justify-content: left;
}

.WeatherInfo .humidityAndWind {
  display: flex;
  justify-content: center;
}
.WeatherInfo {
  padding: 20px 0;
  border-top: 1px solid rgb(251, 232, 86);
}
