.Weather {
  border: 1px solid #dadde1;
  font-family: Arial, sans-serif;
  color: #878787;
  padding: 16px;
  border-radius: 4px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  display: block;
  margin: 20px 0 0 0;

  font-size: 24px;
  font-weight: 100px;
  line-height: 28px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.Weather img {
  height: 64px;
  width: 64px;
}
.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}
