.Weather form {
  margin-bottom: 20px;
}

.Weather .button-search {
  background: #fbe856;
  transition: all 200ms ease-in-out;
}
.Weather .button-search:hover {
  background: #2f2a7c;
  color: #f5f5f9;
}
.Weather h1 {
  color: #f7db0e;
  display: block;
  margin: 0 0 10px;

  font-size: 24px;
  font-weight: 100px;
  line-height: 28px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.Weather img {
  height: 64px;
  width: 64px;
}
.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}
.Weather .unit {
  position: relative;
  top: -30px;
  color: rgb(33, 33, 33);
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}
